<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Facade</title>
</head>
<body>

<header class="header uk-light">

    <div class="header_inner uk-height-1-1 uk-padding uk-background-cover" style="background-image: url('images/dist/headerBg.png')">
        <div class="container uk-height-1-1">
            <h1 class="header_title uk-heading-medium uk-text-bold uk-margin-medium-top uk-margin-xlarge-bottom">
                Алюминиевые витражи, на всякий случай, длинный заголовок
            </h1>
            <div class="header_contact uk-flex uk-flex-center uk-child-width-1-2@s uk-flex-middle uk-margin-xlarge-bottom">
                <div class="header_contact__content uk-flex uk-width-auto uk-flex-column uk-margin-right">
                    <a href="tel:+7 (495) 179-33-22" class="uk-text-decoration-none uk-h2 uk-text-bold">+7 (495) 179-33-22</a>
                    <h2 class="uk-margin-remove-bottom uk-margin-remove-top uk-text-left  uk-h4">пн-вс 9:00-21:00</h2>
                </div>
                <div class="uk-width-1-5  uk-width-small@l uk-width-small@m uk-width-small@s">
                    <a class="uk-width-1-1" href="tel:+7 (495) 179-33-22">
                        <img src="images/dist/phone.png" class="uk-width-1-1" alt="">
                    </a>
                </div>
            </div>
            <button class=" uk-align-center">
                <a href="#request" class="uk-text-decoration-none uk-display-inline-block uk-text-uppercase uk-heading-small" uk-scroll>заказать расчет</a>
            </button>
        </div>
    </div>

</header>